DATABASE_URL="postgresql://user:password@localhost:5432/kaarsetu"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
UPLOAD_DIR="./uploads"

# AI
GROQ_API_KEY=""
GROQ_MODEL="llama-3.3-70b-versatile"
GROQ_STT_MODEL="whisper-large-v3-turbo"

